{{#contract-exists}}
	  <div class="ui raised card">

	    <div class="content">

		  <h3 class="ui block header">
		    	<img class="tiny ui circular image" src="{{blockie}}">
				{{{token-name}}} ({{{token-symbol}}})
		  </h3>

	      <div class="extra content">
	  
	        <div class="ui center aligned">

			  <div class="ui medium {{color}} label fluid">
				  <i class="{{icon}} icon"></i>{{ethereum-network}}
			  </div>

			  {{{token-info}}}

	        </div>
	  
	      </div>

	    </div>
	  
	  </div>
{{/contract-exists}}
