<div class="ui basic container segment wpsc-coin-view">

	{{{msg-box}}}

	{{{view-metamask}}}

	<div class="ui two stackable cards">

		{{{coin-view-brand}}}

		{{{coin-view-token}}}

	</div>

	<div class="ui hidden divider"></div>

	{{{coin-view-addresses}}}

	{{{coin-view-wallet}}}

	{{{coin-view-dex}}}

	{{{coin-view-block-explorer}}}

	{{{coin-view-audit}}}

	<div class="ui hidden divider"></div>

</div>
