		<div class="sixteen wide computer five wide large screen column four wide widescreen column">
			From
		</div>
		<div class="sixteen wide computer five wide large screen column four wide widescreen column">
			To
		</div>
		<div class="sixteen wide computer six wide large screen column eight wide widescreen column">
			Value, TxId, Timestamp, Status
		</div>
