<div class="ui raised card">
	<div class="content">
		<h3 class="ui block header">
			<img class="tiny ui image" src="{{thumbnail}}">
			{{{title}}}
		</h3>
		{{{social-networks}}}
		<div class="ui divider"></div>
		<p>{{{content}}}</p>
	</div>
</div>
