	<div class="ui center aligned basic segment sticky" id="wpsc-connect-with-metamask" style="display: none">
		<button class="mini ui fluid button">
			<img src="{{fox}}" class="fox">{{{text}}}
		</button>
	</div>

	<div class="ui center aligned basic segment sticky" id="wpsc-connect-with-right-network" style="display: none">
		<button class="mini ui fluid button">
			<img src="{{fox}}" class="fox">{{{text-wrong-net}}}
		</button>
	</div>
