<div class="ui raised segment">
	<div class="content">
		<h3 class="ui block header">
			<img class="tiny ui image" src="{{thumbnail}}">
			{{{title}}}
			<img class="tiny ui circular right floated image" src="{{blockie}}">
		</h3>
		<div class="ui divider"></div>
		<p>{{{content}}}</p>
		<div class="ui center aligned secondary segment">
			<div class="content">
				<div class="extra content">
					<div class="ui center aligned">
						<span class="ui {{color}} image mini label">
						  <i class="{{icon}} icon"></i>
						  {{ethereum-network}} 
						</span>
						{{{crowd-info}}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>