<div class="ui basic container segment wpsc-coin-view">

	{{{msg-box}}}

	{{{view-metamask}}}

	{{{crowd-view-brand}}}

	<div class="ui hidden divider"></div>

	{{{crowd-view-panel}}}

	{{{crowd-view-addresses}}}

	{{{crowd-view-audit}}}

	<div class="ui hidden divider"></div>

</div>
