<span class="ui {{color}} image {{size}} label">
  <img src="{{imgUrl}}{{type}}.png">
  <span class="wpsc-capitalize">{{type}}</span>
</span>
<span class="ui {{color}} image {{size}} label">
  <i class="percent icon"></i>
  {{{approvers_label}}} <div class="detail">{{factor}}</div>
</span>
<span class="ui {{color}} image {{size}} label">
  <i class="hand lizard outline icon"></i>
  {{{minimum_label}}} <div class="detail">{{minimum}} ether</div>
</span>
