<div>
	{{{tos}}}
	<div class="ui divider"></div>
	<div class="ui toggle checkbox">
		<input id="wpsc-deploy-confirm" type="checkbox" tabindex="0">
		<label>
			{{{confirm}}}
		</label>
	</div>
	<div class="ui divider"></div>
	<div class="ui toggle checkbox">
		<input id="wpsc-deploy-confirm2" type="checkbox" tabindex="0">
		<label>
			{{{confirm2}}}
		</label>
	</div>
</div>