<div class="ui inverted segment">
	<h2 class="ui inverted header centered">
		<div class="content">
		<img class="ui mini left floated image" src="{{animated_gif}}">
		{{{in_progress}}}
		</div>
	</h2>
	<div class="ui divider"></div>
	<p>{{{click_confirm}}}</p>
	<p>{{{please_patience}}}</p>
</div>