<div id="content" class="site-content">
    <div class="ui basic container segment wpsc-ico-view">
        
        {{{msg-box}}}
        
        {{{view-metamask}}}

        {{{ico-view-brand}}}

        {{{ico-view-panel}}}

        {{{ico-view-audit}}}

    </div>
</div>
