<span class="ui {{color}} image {{size}} label">
  <img src="{{imgUrl}}{{type}}.png">
  <span class="wpsc-capitalize">{{type}}</span>
</span>

{{#is_bluemoon}}

    {{#hardcapped}}
    <span class="ui {{color}} image {{size}} label">
        <i class="suitcase icon"></i>
        Hard capped <div class="detail">{{hardcap}}</div>
    </span>
    {{/hardcapped}}
    
    {{#pause_ico}}
    <span class="ui {{color}} image {{size}} label">
        <i class="list ul icon"></i>
        Pausable ICO
    </span>
    {{/pause_ico}}
    
    {{#timed}}
    <span class="ui {{color}} image {{size}} label">
        <i class="clock outline icon"></i>
        Timed
        <div class="detail">From {{opening}} to {{closing}}</div>
    </span>
    {{/timed}}
    
{{/is_bluemoon}}
<span class="ui  {{color}} image {{size}} label">
    <i class="ethereum icon"></i>
    Wallet <div class="detail">{{wallet}}</div>
</span>

{{#is_bubblegum}}
    <div class="ui segment">
        <h5 class="ui header">
          Accepted tokens
        </h5>
        {{#erc20_payments_rates}}
            <span class="ui {{color}} image {{size}} label">
                <i class="ethereum icon"></i>
                {{{payment_token}}}
                <div class="detail">{{{payment_rate}}}</div>
            </span>
        {{/erc20_payments_rates}}
    </div>
{{/is_bubblegum}}
