  <div class="wpsc">
    <div class="ui inverted segment">
      <h1 class="ui header">
        <img class="ui image huge floated left" src="{{white-logo}}">
        {{{tutorials-tools}}}
      </h1>
      <p>{{{tutorials-tools-desc}}}</p>
    </div>

    <div class="ui secondary segment">
      <h3 class="ui dividing header">
        <i class="youtube icon"></i>
        {{{screencasts}}}
      </h3>

      <h4 class="ui dividing header">
        {{{deploy}}}
      </h4>
      <p>
        <i class="circle icon"></i>
        <a href="https://youtu.be/{{deploy_raspberry}}" target="_blank">
          Raspberry
        </a>
      </p>
      <p>
        <i class="circle icon"></i>
        <a href="https://youtu.be/{{deploy_bluemoon}}" target="_blank">
          Bluemoon
        </a>
      </p>
      <p>
        <i class="circle icon"></i>
        <a href="https://youtu.be/{{deploy_bluemoon}}" target="_blank">
          Bubblegum
        </a>
      </p>
    </div>

    {{{wpic_info}}}

    <div class="ui secondary segment">
      <h3 class="ui dividing header">
        <i class="book icon"></i>
        {{{docs}}}
      </h3>

      <p>
        <i class="circle icon"></i>
        <a href="{{doc}}" target="_blank">Initial Coin Offerings</a>
        </span>
      </p>

      <a  href="https://wpsmartcontracts.com/docs.php" target="_blank" class="ui grey button">
        {{{learn-more}}}
      </a>

    </div>
    <a href="https://wpsmartcontracts.com" target="_blank">
      <img class="ui medium centered image" src="{{wpsc-logo}}">
    </a>
    <div class="ui divider"></div>
    <p>If you enjoy WP Smart Contracts plugin give us a <a href="https://wordpress.org/support/plugin/wp-smart-contracts/reviews/#new-post" target="_blank">5 stars review</a> Thanks in advance!</p>
  </div>
