<div class="ui secondary teal inverted segment">
  <h3 class="ui block header" style="color: black;">
    <img src="http://localhost/wpsc-ico/wp-content/uploads/2021/02/xdai.png">{{{title}}}
  </h3>
  <p>{{{description_1}}}</p>
  <p>{{{description_2}}}</p>
  <div class="ui inverted tiny list">
    <div class="item">
      <i class="circle icon"></i>
      <div class="content">
        <div class="description">{{{feature_1}}}</div>
      </div>
    </div>
    <div class="item">
      <i class="circle icon"></i>
      <div class="content">
        <div class="description">{{{feature_2}}}</div>
      </div>
    </div>
    <div class="item">
      <i class="circle icon"></i>
      <div class="content">
        <div class="description">{{{feature_3}}}</div>
      </div>
    </div>
    <div class="item">
      <i class="circle icon"></i>
      <div class="content">
        <div class="description">{{{feature_4}}}</div>
      </div>
    </div>
    <div class="item">
      <i class="circle icon"></i>
      <div class="content">
        <div class="description">{{{feature_5}}}</div>
      </div>
    </div>
  </div>

  <a href="https://wpsmartcontracts.com/xdai-chain/" target="_blank" class="ui labeled mini button" tabindex="0">
    <div class="ui blue mini button">
      <i class="circle icon"></i>{{{learn}}}
    </div>
  </a>
</div>
