<div id="wpsc-msg-box-{{n}}" class="ui {{type}} message transition">
	{{#is_closable}}
		<i class="close icon"></i>
	{{/is_closable}}
	<div class="ui {{#icon}}icon{{/icon}} header">
		{{#icon}}<i class="{{icon}} icon"></i>{{/icon}}
		{{{title}}}
	</div>
	<p>{{{msg}}}</p>
</div>
