<div id="wpsc-social-column" class="column center aligned {{#hidden}}columnHidden{{/hidden}}">
  <a id="wpsc-href" target="_blank" href="{{link}}">
    <i id="wpsc-icon" class="{{icon}} huge icon"></i>
    <p>
      <span id="wpsc-social-name">
        {{name}}
      </span>
      <span class="mini icon">
        <i class="icon trash remove-row"></i>
      </span>
    </p>
  </a>
  <input id="wpsc-social-icon-input" name="wpsc-social-icon[]" type="hidden" value="{{icon}}">
  <input id="wpsc-social-name-input" name="wpsc-social-name[]" type="hidden" value="{{name}}">
  <input id="wpsc-social-link-input" name="wpsc-social-link[]" type="hidden" value="{{link}}">
</div>