<span class="ui {{color}} image {{size}} label">
  <img src="{{imgUrl}}{{type}}.png">
  <span class="wpsc-capitalize">{{type}}</span>
</span>
<span class="ui {{color}} image {{size}} label">
  <i class="key icon"></i>
  {{{symbol_label}}} <div class="detail">{{symbol}}</div>
</span>
<span class="ui {{color}} image {{size}} label">
  <i class="tag icon"></i>
  {{{name_label}}} <div class="detail">{{name}}</div>
</span>
<span class="ui {{color}} image {{size}} label">
  <i class="calculator icon"></i>
  {{{decimals_label}}} <div class="detail">{{decimals}}</div>
</span>
<span class="ui {{color}} image {{size}} label">
  <i class="database icon"></i>
  {{{initial_label}}}
  <div class="detail">{{supply}}</div>
</span>
{{#burnable}}
  <span class="ui {{color}} image {{size}} label">
    <i class="fire icon"></i>
    {{{burnable_label}}}
  </span>
{{/burnable}}
{{#mintable}}
  <span class="ui {{color}} image {{size}} label">
    <i class="tint icon"></i>
    {{{mintable_label}}}
  </span>
  {{#cap}}
  <span class="ui {{color}} image {{size}} label">
    <i class="suitcase icon"></i>
    {{{max_label}}}
    <div class="detail">{{cap}}</div>
  </span>
  {{/cap}}
{{/mintable}}
{{#pausable}}
  <span class="ui {{color}} image {{size}} label">
    <i class="pause circle outline icon"></i>
    {{{pausable_label}}}
  </span>
{{/pausable}}
