<button class="wp-admin-bar-connect-with-metamask-button" type="button" class="button-secondary" style="display: none">
	<img src="{{fox}}" style="max-width:20px; vertical-align: middle"> {{{text}}}
</button>